<div class="host">
  <h1>🎧 Spotify Host</h1>

  <div class="btn-group">
    <div class="search-action">
      <button class="fetch-btn" (click)="search()">
        Suchen nach 10 Taylor Swift Songs
      </button>
    </div>

    <div class="search-action">
      <button class="fetch-btn" (click)="loginSpotify()">
        Anmelden bei Spotify
      </button>
    </div>
  </div>


  @if (tracks.length > 0) {
    <div class="track-list">
      @for (track of tracks; track track.id || track.uri) {
        <div class="track-card">
          @if (track.album?.images?.length) {
            <img [src]="track.album.images.at(-1)?.url" alt="Cover">
          }

          <div class="track-info">
            <span class="track-name">{{ track.name }}</span>
            <span class="artist-name">{{ track.artists[0]?.name }}</span>
          </div>

          <button class="play-btn" (click)="play(track.uri)">
            ▶
          </button>
        </div>
      }
    </div>
  }
</div>
