.host{
  margin-left: 2rem;
}

.host h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: black;
}

.btn-group{
  display: flex;
  gap: 2rem;
}

.fetch-btn {
  font-family: var(--font) serif;
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  border: none;
  background-color: #510273;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.fetch-btn:hover {
  background-color: #8303A6;
}
