button {
  margin-right: 10px;
  padding: 10px 16px;
  font-size: 16px;
}


.player {
  background: linear-gradient(180deg, #1db954, #121212);
  color: white;
  padding: 40px;
  border-radius: 20px;
  width: 350px;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
  box-shadow: 0 20px 40px rgba(0,0,0,0.5);
}

.player h1 {
  font-size: 1.4rem;
  margin-bottom: 30px;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

button {
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.icon-btn {
  background: transparent;
  color: white;
  font-size: 1.5rem;
}

.icon-btn:hover {
  transform: scale(1.2);
  color: #1db954;
}

.play-btn {
  background: #1db954;
  color: black;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 1.8rem;
  box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}

.play-btn:hover {
  transform: scale(1.1);
  background: #1ed760;
}
