<div class="container col-12 row">

    <h1>Musik Player</h1>

    <div *ngIf="actSong.thumbnail">
        <h2>Aktueller Song</h2>
    </div>

    <!-- YouTube Player -->
    <div class="main-div" style="margin-top: 10px;">
        <div id="player"></div>
    </div>

    <!-- Play/Pause Button -->
    <button class="btn col-12 m-2 playButton" (click)="playSong()">
    <span *ngIf="!isPlaying">
      <mat-icon>play_arrow</mat-icon>
    </span>
        <span *ngIf="isPlaying">
      <mat-icon>pause</mat-icon>
    </span>
    </button>

    <h2>Warteschlange</h2>

    <span *ngFor="let song of songs; let i = index" class="col-3">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img
                  [src]="song.thumbnail || '../assets/musicCover.jpg'"
                  class="card-img-top"
                  width="80px"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title">{{ song.songName }}</h3>
          </div>
        </div>
        <div class="card-footer text-muted">Position: {{ i + 1 }}</div>
      </div>
    </div>
  </span>
</div>
