{{- $id := .Get "id" | default (printf "%d" .Ordinal) -}}
{{- $format := .Get "format" | default "svg" -}}
{{- $content := "" -}}
{{- if .Get "src" -}}
  {{- $src := .Get "src" -}}
  {{- $path := "" -}}
  {{- if hasPrefix $src "/" -}}
    {{- $path = substr $src 1 -}}
  {{- else -}}
    {{- $currentDir := path.Dir .Page.File.Path -}}
    {{- $path = path.Join $currentDir $src -}}
  {{- end -}}
  {{- $content = readFile $path -}}
{{- end -}}
{{- if eq $content "" -}}{{- $content = .Inner -}}{{- end -}}

<img id="plantuml-{{ $id }}" alt="PlantUML diagram" class="plantuml-diagram" style="max-width:100%;height:auto;" />
<script>
(function () {
  // PlantUML "hex" text encoding (~h prefix): no compression/CDN needed,
  // rendered server-side by plantuml.com.
  var source = "{{ $content }}";
  var bytes = new TextEncoder().encode(source);
  var hex = "";
  for (var i = 0; i < bytes.length; i++) {
    hex += bytes[i].toString(16).padStart(2, "0");
  }
  var img = document.getElementById("plantuml-{{ $id }}");
  img.src = "https://www.plantuml.com/plantuml/{{ $format }}/~h" + hex;
})();
</script>
