<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Startpage</title>
</head>
<body>

<div class="layout">

  <div class="left">
    <!-- Navbar -->
    <nav class="navbar">
      <button class="burger" (click)="toggleMenu()">☰</button>
    </nav>

    <!-- SIDE MENU -->
    <div class="side-menu" [class.open]="menuOpen">
      <ul>
        <li><a routerLink="/startpage" (click)="toggleMenu()">Loren</a></li>
        <li><a routerLink="/queue" (click)="toggleMenu()">Lorem</a></li>
        <li><a routerLink="/vote" (click)="toggleMenu()">Lorem</a></li>
      </ul>
    </div>

    <div class="overlay" *ngIf="menuOpen" (click)="toggleMenu()"></div>

    <!-- Current Song -->
    <section class="current-song">
      <img class="cover" src="https://placehold.co/400" height="300px" width="300px" alt="Cover">
      <div class="song-info">
        <h1>Song Titel</h1>
        <p>Künstler</p>

        <div class="progress">
          <span>0:00</span>
          <span>2:46</span>
        </div>
      </div>
    </section>

    <hr>

    <section class="queue">
      <h2>Warteschlange</h2>

      <div *ngIf="tracks.length === 0">Keine Songs geladen!</div>

      <div *ngIf="tracks.length > 0" class="queue-grid">
        <div *ngFor="let track of tracks; trackBy: trackById" class="track">

          <img *ngIf="track.album?.images?.length"
               [src]="track.album.images[track.album.images.length - 1].url"
               alt="Cover">

          <div class="track-info">
            <div class="song-title">{{ track.name || 'Unbekannter Titel' }}</div>
            <div class="song-artist">{{ track.artists?.[0]?.name || 'Unbekannter Künstler' }}</div>
          </div>
        </div>
      </div>
    </section>

  </div>
  <!-- RIGHT PANEL -->
  <div class="right">
    <div class="qr-code">
      <img class="cover" src="https://placehold.co/400" height="250px" width="250px" alt="Cover">
      <p class="qr-code-text">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.
      </p>
    </div>
    <span class="logo">MusicVoting</span>
  </div>

</div>
</body>
</html>
