<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Startpage</title>
</head>
<body>

<div class="layout">

  <div class="left">
    <nav class="navbar">
      <button class="burger" (click)="toggleMenu()">☰</button>
    </nav>

    <div class="side-menu" [class.open]="menuOpen">
      <ul>
        <li><a routerLink="/startpage" (click)="toggleMenu()">Loren</a></li>
        <li><a routerLink="/queue" (click)="toggleMenu()">Lorem</a></li>
        <li><a routerLink="/vote" (click)="toggleMenu()">Lorem</a></li>
      </ul>
    </div>

    @if (menuOpen) {
      <div class="overlay" (click)="toggleMenu()"></div>
    }

    <section class="current-song">
      <img class="cover" src="https://placehold.co/400" height="300px" width="300px" alt="Cover">
      <div class="song-info">
        <h1>Song Titel</h1>
        <p>Künstler</p>

        <div class="progress">
          <span>0:00</span>
          <span>2:46</span>
        </div>
      </div>
    </section>

    <hr>

    <section class="queue">
      <h2>Warteschlange</h2>

      @if (tracks.length === 0) {
        <div>Keine Songs geladen!</div>
      } @else {
        <div class="queue-grid">
          @for (track of tracks; track track.id; let i = $index) {
            <div class="track">
              <div class="cover-wrapper">
                <span class="queue-number">{{ i + 1 }}</span>

                @if (track.album?.images?.length) {
                  <img [src]="track.album.images[track.album.images.length - 1].url"
                       alt="Cover">
                }
              </div>

              <div class="track-info">
                <div class="song-title">{{ track.name || 'Unbekannter Titel' }}</div>
                <div class="song-artist">{{ track.artists?.[0]?.name || 'Unbekannter Künstler' }}</div>
              </div>
            </div>
          }
        </div>
      }

    </section>

  </div>
  <div class="right">
    <div class="qr-code">
      <img class="cover" src="https://placehold.co/400" height="250px" width="250px" alt="Cover">
      <p class="qr-code-text">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.
      </p>
    </div>
    <span class="logo">MusicVoting</span>
  </div>

</div>
</body>
</html>
