.guest{
  margin-left: 2rem;
}

.search-action {
  display: flex;
  gap: 1rem;
  width: 100%;
  max-width: 30rem;
  margin-top: 2rem;
}

.search-action input[type="text"] {
  flex: 1;
  padding: 0.5rem 0.75rem;
  border-radius: 2rem;
  border-width: .1rem;
  outline: none;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: black;
}

.search-action input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.fetch-btn {
  font-family: var(--font), serif;
  padding: 0.5rem 1.25rem;
  border-radius: 2rem;
  border: none;
  background-color: #510273;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s  ease-in-out;
}


.fetch-btn:hover{
  background-color: #8303A6;
}
