<div class="guest">
  <h1>🎧 Spotify Guest</h1>

  <div class="search-action">
    <input type="text" name="search-input" id="search-input">
    <button class="fetch-btn" (click)="search()">
      Suchen
    </button>
  </div>

  @if (tracks.length > 0) {
    <div class="track-list">
      @for (track of tracks; track track.id || track.uri) {
        <div class="track-card">
          @if (track.album?.images?.length) {
            <img [src]="track.album.images.at(-1)?.url" alt="Cover">
          }

          <div class="track-info">
            <span class="track-name">{{ track.name }}</span>
            <span class="artist-name">{{ track.artists[0]?.name }}</span>
          </div>

        </div>
      }
    </div>
  }
</div>
