.guest{
  margin-left: 2rem;
}

.search-action {
  display: flex;
  gap: 1rem;
  width: 100%;
  max-width: 30rem;
  margin-top: 2rem;
}

.search-action input[type="text"] {
  flex: 1;
  padding: 0.5rem 0.75rem;
  border-radius: 2rem;
  border-width: .1rem;
  outline: none;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: black;
}

.search-action input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.fetch-btn {
  font-family: var(--font), serif;
  padding: 0.5rem 1.25rem;
  border-radius: 2rem;
  border: none;
  background-color: #510273;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s  ease-in-out;
}

.fetch-btn:hover{
  background-color: #8303A6;
}


.track-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 100%;
  margin-top: 2rem;
}


.track-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.track-card img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.track-info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  text-align: left;
}

.track-name {
  font-weight: 600;
  width: 8vw;
  font-size: 1rem;
  color: black;
}

.artist-name {
  font-size: 0.875rem;
  color: black;
  color: rgba(0, 0, 0, 0.7);
}


.play-btn {
  font-size: 1.25rem;
  background-color: #510273;
  border: none;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.play-btn:hover {
  background-color: #8303A6;
}

