<div class="guest">
  <h1>🎧 Spotify Guest</h1>

  <div class="search-action">
    <input type="text" placeholder="Song suchen..." [(ngModel)]="searchQuery">
    <button class="fetch-btn" (click)="search()" [disabled]="isSearching">
      {{ isSearching ? 'Suche läuft...' : 'Suchen' }}
    </button>
  </div>

  <div *ngIf="tracks.length > 0" class="track-list">
    <div *ngFor="let track of tracks; trackBy: trackById" class="track-card">
      <img *ngIf="track.album?.images?.length" [src]="track.album.images.at(-1)?.url" alt="Cover">

      <div class="track-info">
        <span class="track-name">{{ track.name }}</span>
        <span class="artist-name">{{ track.artists[0]?.name }}</span>
      </div>

      <div class="track-action">
        <button class="add-queue-btn"
                (click)="addToPlaylist(track)"
                [disabled]="addingTrackId === track.id">
          {{ addingTrackId === track.id ? 'Hinzufügen...' : 'Zur Playlist hinzufügen' }}
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="!tracks.length && !isSearching">
    Keine Songs geladen!
  </div>
</div>
