.code-page {
  width: 100vw;
  min-height: 100vh;
  font-family: var(--font), sans-serif;
  background: linear-gradient(135deg, #8403A6, #F2594B);
  color: white;
}

/* Header */

header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.back-to-home {
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
}

header > h1 {
  font-size: 2rem;
}

/* Code Container */

.code-input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30vw;
  margin-left: 35vw;
  margin-right: 35vw;
  margin-top: 1vh;
  text-align: center;
}

.code-input-wrapper > h2 {
  font-size: 1.8rem;
  margin: 0;
}

.subtitle {
  font-size: 1rem;
  opacity: 0.85;
  margin-bottom: 2rem;
}

.code-container {
  display: flex;
  gap: 10px;
  padding: 20px;
  justify-content: center;
}

.code-container input {
  width: 50px;
  height: 70px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  text-align: center;
  font-size: 24px;
  outline: none;
  caret-color: transparent;
}

.code-container input:focus {
  border: 2px solid white;
}

/* Error Message */

.error-message {
  color: #FF3B30; /* Ein kräftiges Rot, passend zum Screenshot */
  font-weight: bold;
  margin-top: 15px;
  font-size: 1.1rem;
  /* Optional: Eine kleine Animation, damit die Nachricht "aufpoppt" */
  animation: fadeIn 0.3s ease-in-out;
}

/* paste button */
.paste-button {
  margin: 1vh auto;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid white;
  color: white;
  padding: 1rem;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s;
  width: 20vw;

}

.paste-button:hover {
  background: rgba(255, 255, 255, 0.4);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 48rem) {
  .code-input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 96vw;
    margin: 5vh 2vw 0 2vw;
    text-align: center;
  }
}
