<div class="music-voting-container">


  <div class="side-menu" [class.open]="menuOpen">
    <h2>MusicVoting</h2>
    <ul>
      <li><a routerLink="/" (click)="toggleMenu()">Startseite</a></li>
      <li><a routerLink="/dashboard" (click)="toggleMenu()">Dashboard</a></li>
      <li class="active"><a routerLink="/voting-host" (click)="toggleMenu()">Voting</a></li>
      <li><a routerLink="/search-host" (click)="toggleMenu()">Suchen</a></li>
    </ul>
  </div>

  @if (menuOpen) {
    <div class="overlay" (click)="toggleMenu()"></div>
  }


  <div class="main-wrapper">

    <div class="sticky-top">
      <nav class="navbar">
        <button class="burger" type="button" (click)="toggleMenu()"><p>☰</p></button>
        <header class="header">
          <h1>Vote für deine Lieblingssongs!</h1>
        </header>
      </nav>


      <div class="search-section">
        <div class="search-bar">
          <form class="search-wrapper" (submit)="$event.preventDefault()">
            <svg class="search-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5">
              <circle cx="11" cy="11" r="8"></circle>
              <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            </svg>
            <input
              type="search"
              placeholder="In Playlist suchen..."
              [ngModel]="searchQuery()"
              (input)="onSearch($event)"
              name="search">
          </form>
        </div>
      </div>
    </div>

    <div class="main-content">
      <div class="track-list">
        @for (track of filteredTracks(); track track.id) {
          <div class="track-card">
            <img class="album-cover" [src]="track.album?.images[0]?.url" alt="Cover">
            <div class="track-info">
              <span class="track-name">{{ track.name }}</span>
              <span class="artist-name">{{ track.artists[0]?.name }}</span>
            </div>
            <button class="vote-button">♡</button>
          </div>
        } @empty {
          <p>Keine Songs gefunden.</p>
        }
      </div>
    </div>

  </div>
</div>
